<div class="grid_12">
  <div class="topper" id="channel-<%= @channel.id %>" style="background-image:url(<%= image_path("spartacus.jpg") %>)">
  <p class="name"><%= link_to @channel.name, @channel %><p>
   <%= tagline(@channel) %>
  </div>
</div>
