body {
  color:#3E3E3E;
  font-size:14px;
  font-family:Arial, sans-serif;
  line-height:1.6em
}

/* positioners */

.left {
  float:left
}

.right {
  float:right
}

/* make it bold! */

strong, .strong {
  font-weight:bold
}

/* links */

a {
  color:#19558D;
  text-decoration:none
}

a:hover {
  text-decoration:underline
}

/* headings */

h1,h2,h3,h4 {
  color:#444;
  line-height:1.1em;
  font-weight:bold;
}

h1 {
  font-size:24px;
  text-transform:uppercase;
  word-spacing:-2px;
}

h2 {
  font-size:18px;
}

h3,h4 {
  font-size:14px;
}

.index h1, .channels.show h1 {
  border-bottom:1px solid #ddd;
  float:left;
  margin:0 0 30px 0;
  padding:0 0 30px 0;
  width:100%;
}

.channels.show h1 span {
  color:#999;
  font-size:14px;
  float:right
}

/* img */

img {
  border-radius: 6px;
  -moz-border-radius: 6px;
  display:block
}

/* languages */

.language {
position:fixed;
width:50px;
margin-left:980px;
margin-top:20px
}

.pl, .en {
  background-repeat:no-repeat;
  background-position:left center;
  padding-left:20px;
  list-style:none!important	
}

.pl {
  background-image:url("/images/icons/pl.png")
}

.en {
  background-image:url("/images/icons/en.png")
}

/* wider - commons */

.wider {
  width:100%;
}

.wider, .wider a {
  color:#fff
}

.wider div, .wider p {
  margin:0 auto;
  width:940px;
}

.wider ul li {
  display:inline
}

/* wider - flash*/

.wider.flash {
  border-top:1px solid #222;
  font-size:12px;
  line-height:2.5em;
}

.wider.flash#notice {
  background:#007020
}

.wider.flash#alert {
  background:#BF0404
}

/* wider - nav */

.wider.nav {
  background:#fff;
  font-size:12px;
  line-height:2.5em;
  border-top:1px solid #222
}

.wider.nav li {
  border-right:1px dotted #3E3E3E;
  margin:0 9px 0 0;
  padding:0 10px 0 0;
}

.wider.nav li:last-child {
  border:0;
  margin-right:0;
  padding:0
}

.wider.nav, .wider.nav a {
  color:#3E3E3E;
}

/* header */

.wider.header {
  background:#4C1B1B;
  border-bottom:1px solid #222;
  border-top:1px solid #222;
  -moz-box-shadow: 0 4px 5px 0 #ddd
  -webkit-box-shadow: 0 4px 5px 0 #ddd;
  box-shadow: 0 4px 5px 0 #ddd;
  height:40px;
}

.wider.header li a {
  border-right:1px dotted #fff;
  display:block;
  float:left;
  line-height:40px;
  padding:0 15px;
}

.wider.header li a:hover, .wider.header li a.current {
  background:#381414;
  text-decoration:none
}

.wider.header .left li a {
  font-weight:bold;
}

.wider.header .logo {
  margin:5px 10px 0 0 
}

.beta {
  margin:20px 0 30px 0;
  background: #FCFAE1;
}

/* breadcrumbs */

ul.breadcrumbs {
  border-bottom: 1px solid #ddd;
  margin: 0 0 30px;
  padding: 0 0 15px;
}

ul.breadcrumbs li {
  border-right:1px solid #ddd;
  display:inline;
  font-size:12px;
  margin:0 5px 0 0;
  padding: 0 10px 0 0;
}

ul.breadcrumbs li:last-child {
  border-right:0;
  padding:0;
  margin:0
}

/* company - home page */

.intro h2 {
  font-size:18px;
  line-height:1.5em;
  margin:0 0 20px 0;
  word-spacing:-2px
}

.home .player {
  padding:0 0 0 20px
}

.intro h2 .vision {
  font-size:26px
}

.vision {
  color:#B9121B;
}

.intro p {
  font-size:16px;
  margin:0 0 17px 0;
  line-height:1.6em;
  text-align:justify
}

.intro .wanna {
  float:left;
  width:50%;
  margin:0 0 10px 0
}

.intro .wanna h3 {
  margin:5px 0 0 0
}

.intro .wanna p {
  font-size:14px;
  margin:0
}

/* buttons */

.button {
  background:#B9121B;
  color:#fff;
  font-weight:bold;
  margin-right:10px;
  padding:0.5em;
  -moz-box-shadow: inset 0 0 10px #8C0101;
  -webkit-box-shadow: inset 0 0 10px #8C0101;
  box-shadow: inner 0 0 10px #8C0101;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.button:hover {
  background:#8C0101;
  text-decoration:none
}

.intro .button {
  display:block;
  font-size:25px;
  margin:10px 0;
  width:140px;
}

/* (white)spacer */

.spacer {
  border-bottom:1px solid #ddd;
  float:left;
  margin:30px 10px;
  width:940px;
}

.spacer.inside {
  margin-right:0;
  margin-left:0;
  width:100%;
}

/* box */

.box {
  float:left;
  width:100%;
  line-height:1
}

/* box - video */

.box.video {
  border-bottom:1px solid #ddd;
  margin:0 0 30px 0;
  padding: 0 0 30px 0;
}

.box.video img {
  float:left;
  margin: 0 15px 0 0
}

.box.video h2 {
  margin:10px 0	
}

.box.video ul li {
  display:inline;
  font-size:12px
}

.box.video p {
  margin:20px 0 0 0
}

/* box - video - home */

.featured h3, .newest h3 {
  margin:0 0 20px 0
}

.newest .box h2 {
  font-size:14px;
  margin:0
}

.featured .box, .newest .box {
  padding:0;
  border:none
}

.featured .box {
  margin:0
}

.newest .box {
  margin:0 0 15px 0;
}

/* box - channel and user */

.box.channel, .box.user {
  border:1px solid #ddd;
  margin:0 40px 40px 0;
  padding:10px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.box.channel {
  width:400px;
}

.box.user {
  width:220px;
}

.box.channel h2, .box.user h2 {
  font-size:16px;
  margin:10px 0 0 0
}

.tagline {
  color:#969696;
  line-height:1.5em;
  margin:7px 0
}

/* box - user join */

.box.user.join {
  background:#FCFAE1;
  text-align:center
}

.box.user.join img {
  margin:0 auto 16px auto
}

.box.user.join img {
  margin-bottom:0
}

/* video - share */

.box .fblike {
  float:right;
  margin:0 0 0 10px;
  position:relative;
  width:70px;
}

.videos.show .share {
  height:62px
}

.videos.show .share .fblike {
  float:left;
  min-height:56px;
  width:500px;
}

.videos.show .share .gplus, .videos.show .share .twit {
  float:left;
  width:140px
}

/* video - price */

.price, .days, .free {
  color:#007020;
  font-weight:bold;
}

/* video - meta */

.meta, .meta a {
  color:#969696;
  font-size:12px
}

.meta li {
  border-right:1px solid #ddd;
  display:inline;
  margin:0 4px 0 0;
  padding:0 5px 0 0;
}

.meta li:last-child {
  border:none;
  padding:0;
  margin:0
}

.meta img {
  display:inline;
  float:none!important;
  margin:0 0 0 5px!important;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.videos.show ul.meta {
  margin:8px 0 0 0
}

/* video - content */

.container_12.videos.show .grid_9 {
  padding-right: 40px;
  width: 640px;
}

.videos.show .grid_9 h2 {
  margin:0 0 20px 0
}

/* video - sidebar */

.container_12.videos.show .grid_3 {
  width: 240px;
}

.videos.show .grid_3 div h2 {
  font-size:14px;
  margin:40px 0 15px 0;
}

.videos.show .grid_3 div h3 {
  margin:10px 0
}

.videos.show .grid_3 div img {
  margin-bottom:10px
}

.videos.show .grid_3 .info {
  color:#969696;
  font-size:12px;
  margin:-10px 0 10px 0
}

/* video - unlock */

.videos.show div.unlock {
  background:#FCFAE1;
  border:1px solid #ddd;
  padding:15px 10px 10px 10px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.videos.show div.unlock p {
  text-align:center;
  margin:5px 0
}

.videos.show div.unlock .price {
  font-size:30px;
  font-weight:bold;
}

.videos.show div.unlock .days {
  font-size:16px;
  font-weight:bold;
  margin-bottom:5px;
}

.videos.show div.unlock .button {
  display:block;
  margin:15px 0 10px
}

.videos.show div.unlock .like_mini {
  border-top:1px solid #ddd;
  margin:10px 0 0 0;
  padding:10px 0 0 0;
}

/* video - unlock to see */

.unlock_to_see {
  background:#FCFAE1;
  border:1px solid #ddd;
  font-weight:bold;
  margin:5px 0 0 0;
  padding:5px;
  text-align:center;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* video - chapters */

.videos.show .chapters li span {
  color:#969696
}

/* video - teacher */

.videos.show .teacher h3 {
  margin-bottom:0px
}

.videos.show .teacher .tagline {
  margin:-5px 0 0 0
}

/* description */

.description p, .description ul, .description ol, .description table {
  margin:0 0 15px 0
}

.description li {
  margin:0 0 0 20px;
}

.description ol li {
  list-style:decimal
}

.description ul li {
  list-style:disc
}

.description blockquote, .description .important {
  background: #FCFAE1;
  border:1px solid #ddd;
  font-size:16px;
  line-height:1.7em;
  margin:30px;
  padding:20px 40px 5px;
}

.description .important {
  background-image:url("/images/icons/important.png");
  background-position:-32px top;
  background-repeat:no-repeat
}

.description h3 {
  margin:30px 0 15px 0;
  font-size:16px
}

.description img {
  margin:0 20px 20px 0
}

/* table */

table {
  width:100%;
  text-align:left;
}

td, th {
  padding:5px
}

th {
  background:#FCFAE1
}

tr {
  border-bottom:1px solid #ddd
}

/* form */

.simple_form .inputs {
  border-top:1px solid #ddd;
  margin-top:20px;
  padding-top:20px
}

.simple_form h2 {
  margin:0 0 20px 0
}

.simple_form h3 {
  margin:20px 0
}

.simple_form label {
  float: left;
  margin: 2px 10px;
  text-align: right;
  width: 120px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 140px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  color: #D00;
  display: block;
  font-size: 12px;
  margin-left: 140px;
}

.simple_form div.boolean .error {
  margin:0
}

.simple_form .hint {
  clear: left;
  color: #666;
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-left: 140px;
}

.simple_form input.string, .simple_form textarea.text {
  width:300px
}

.simple_form select {
  width:200px
}

.simple_form input.integer {
  width:50px
}

.simple_form .actions {
  width:100%;
  float:left;
  margin:10px 0 30px 0
}

/* video - comments */

.comments .comment {
  float:left;
  margin:30px 0 0px;
  width:100%;
}

.comment .avatar {
  float:left;
  margin:0 20px 0 0
}

.comments .comment p {
  margin:0 0 10px 0
}

.comments .comment p.author {
  background:#FCFAE1;
  font-size:12px;
  padding:2px 10px;
}

.comments .comment .body {
  float:left
}

.comments .info {
  font-size:12px;
  color:#969696;
  margin:-10px 0 0 0
}

.container_12.videos.show .comment .grid_8 {
  width:560px;
}

/* video - comments - form */

.simple_form.comment textarea.text {
 font-size: 14px;
 height: 150px;
 line-height: 1.5em;
 padding: 5px;
 width: 525px;
}

.simple_form.comment {
  margin-top:0
}

.simple_form.comment label {
  width:60px
}

.simple_form.comment div.input {
  margin:0
}

.simple_form.comment input[type="submit"] {
  margin-left: 80px;
}

/* user - nav */

.grid_2 .nav {
  line-height:2em;
  padding:0 10px 0 0
}

.grid_2 .nav h3 {
  margin:15px 0 5px
}

.grid_2 .nav img {
  margin:0 0 10px 0
}

.grid_2 .nav .stat {
  border:1px solid #ddd;
  display:block;
  margin:10px 0;
  padding:10px;
  text-align:center;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.grid_2 .nav .stat span {
  display:block;
  font-size:50px;
  font-weight:bold;
  line-height:1em;
  width:100%;
}

/* user - show */

.users.show .email {
  margin:0 0 15px
}

/* user - commons */

.users.hub h2, .users.credits h2, .users.admin h2 {
  margin:30px 0 25px 0
}

/* user - credits */

.users.credits .grid_10 p {
  margin:0 0 15px 0
}

.users.credits .grid_10 span {
  display: block;
  font-size: 20px;
  padding: 10px 0;
  width: 100%;
}

.users.credits .grid_10 h2 span {
  color:#B9121B;
  display: inline;
  padding:0
}

.users.credits .grid_10 img {
  margin: 0 0 20px 0
}

/* user - signup */

.benefits {
  padding:0 0 0 20px
}

.benefits h3 {
  margin:0 0 10px 0
}

.benefits li {
  background:url("/images/icons/tick.png") no-repeat left center;
  padding:0 0 0 25px;
}

/* company - about */

.about h2 {
  margin:10px 0 20px 0
}

.about h2 a {
  color:#444;
  text-decoration:none
}

.about h3 {
  margin:15px 0 5px 0
}

.about p, .about ul, .about ol {
  margin:0 0 15px 0
}

.about ul li {
  list-style:square;
  margin:0 0 0 15px 
}

.about ol li {
  list-style:decimal;
  margin:0 0 0 20px
}

.about img {
  margin:0 0 10px 0
}

.about .intro {
  margin:30px 0;
}

.about .player {
  padding:0 0 0 20px
}

.about .start {
  font-size:24px;
  font-weight:bold;
  margin:0;
  text-align:center;
}

.about .more {
  font-size:14px;
  font-weight:normal;
  margin:10px 0 0 0;
  text-align:center;
}

.about .value h3 {
  background-repeat:no-repeat;
  height:48px;
  line-height:48px;
  margin:5px 0 15px 0;
  padding:0 0 0 58px;
}

.about .value.content h3 {
  background-image:url("/images/icons/content.png");
}

.about .value.form h3 {
  background-image:url("/images/icons/form.png");
}

.about .value.availability h3 {
  background-image:url("/images/icons/availability.png");
}

.about .value li {
  background:url("/images/icons/tick.png") no-repeat left center;
  list-style:none;
  margin:0;
  padding:0 0 0 25px;
}

.about .quote {
  float:right;
  font-size:16px;
  width:280px
}

.about .quote .author {
  font-size:12px
}

ol.production_process {
  margin:20px 0 0 0!important
}

ol.production_process li {
  list-style:none;
  margin:0 17px 0 0!important;
  display:block;
  width:220px;
  padding:20px 0;
  float:left;
  border:1px solid #ddd;
  font-weight:bold;
  text-align:center
}

ol.production_process li span {
  font-weight:normal;
}

ol.production_process li:last-child {
  margin:0!important;
}

/* company - guide */

.guide h2 {
  margin:30px 0 20px 0
}

.guide h3 {
  color:#B9121B;
  font-size:16px;
  margin:30px 0 5px 0
}

.guide h4 {
  margin:20px 0 5px 0
}

.guide p, .guide ul, .guide ol {
  margin:0 0 15px 0
}

.guide ul li {
  list-style:square;
  margin:0 0 0 15px 
}

.guide ul li ul {
  margin:0 0 0 15px 
}

.guide ul li ul li {
  list-style:circle;
}

.guide ol li {
  list-style:decimal;
  margin:0 0 0 20px
}

/* company - policy */

/* footer */

.container_12.videos.show .footer .grid_3 {
  width:220px
}

.footer .spacer.first {
  margin-top:60px
}

.footer, .footer a {
  color:#969696
}

.footer h3 {
  margin:0 0 15px 0
}

.footer li {
  margin:2px 0!important;
  list-style:none!important;
}

.footer .copy {
  color:#999;
  font-size:12px;
  margin:-10px 0 15px 0;
  text-align:right;
}

.footer #newsletter {
  margin:0 0 30px 0
}

.footer #newsletter input.email {
  border:1px solid #ddd;
  padding:9px
}

.footer .connect li {
  background-position:left center;
  background-repeat:no-repeat;
  padding:0 0 0 25px;
}

.footer .connect li.facebook {
  background-image:url("/images/icons/facebook.png")
}

.footer .connect li.twitter {
  background-image:url("/images/icons/twitter.png")
}

.footer .connect li.youtube {
  background-image:url("/images/icons/youtube.png")
}

.footer .connect li.github {
  background-image:url("/images/icons/github.png")
}

/* hide */

.hide {
  display:none
}
