<% title t("videos.all") %>

<div class="grid_12">
  <ul class="breadcrumbs">
    <%= home %>
    <li><%= t("videos.model_name") %></li>
  </ul>
</div>

<div class="grid_12">
  <h1><%= t("videos.all_counted", :number => @videos.count) %></h1>
  <%= render :partial => @videos %>
</div>
