<% title t("about.title") %>

<div class="grid_12">

<div class="player">
<div class="insider">
<iframe width="853" height="510" src="http://www.youtube.com/embed/SaOFuW011G8?hd=1" frameborder="0" allowfullscreen></iframe>
</div>
</div>

<div class="insider">

<div class="summary">

<h2>OVL is a global marketplace for educational videos.</h2>

<p>We invite the best teachers to produce <strong>high quality videolessons</strong> in our or their studios and then we
distribute it to the community of <a href="/">www.ovlplatform.com</a>. OVL means "Open Video Learning"
because we are open to every interesting topic and to every person who needs our knwoledge.</p>

<p>We believe in vision <strong>"Become who you want to be"</strong>
- by having acceess to affordable and well prepered knowledge, everyone in the world can learn
and grow. Fast, easy and at low cost.</p>

</div>

<div class="spacer inside"></div>

<h2>For Learners</h2>

<h3>What we offer?</h3>

<p>We are in beta now, but the long-term plan is to publish at least 1000 unique videolessons per year in variety of
specific topics - from school subjects to professional knwoledge and hobbies.</p>

<div class="benefit students">

<%= image_tag("http://jezykpolski.istockphoto.com/file_thumbview_approve/3943432/2/istockphoto_3943432-students-having-fun.jpg") %>
<!-- http://jezykpolski.istockphoto.com/stock-photo-3943432-students-having-fun.php?st=835b904 -->

<h4>Kids and Students</h4>
<p>Great results in exams<br /> 
and getting the dream job.</p>

</div>

<div class="benefit employees">

<%= image_tag("http://jezykpolski.istockphoto.com/file_thumbview_approve/7384989/2/istockphoto_7384989-mid-thirties-female-professional.jpg") %>
<!-- http://jezykpolski.istockphoto.com/stock-photo-7384989-mid-thirties-female-professional.php?st=3bc574c -->

<h4>Companies and Employees</h4>
<p>Better qaulifications<br />
and better earnings.</p>

</div>

<div class="benefit seniors">

<%= image_tag ("http://jezykpolski.istockphoto.com/file_thumbview_approve/9129801/2/istockphoto_9129801-senior-couple.jpg") %>
<!-- http://jezykpolski.istockphoto.com/stock-photo-9129801-senior-couple.php?st=6bb421f -->

<h4>Seniors (50+)</h4>
<p>More self-esteem<br />
and more passion in life.</p>

</div>

<div class="clear"></div>

<h3>Why you will love OVL? We want to achieve amazing educational experience!</h3>

<!-- ! --><li><strong>Great Content</strong> - based on actual knowledge, rich experience and huge engagement of our teachers.</li>
<!-- ! --><li><strong>Variety of Topics</strong> - opened to variety of topics so you can discover new things constantly.</li>
<!-- ! --><li><strong>Low Price</strong> - from 2$ per 7 days access to lesson to ensure that anyone can afford.</li>
<!-- ! --><li><strong>Translations</strong> - translated to as many languages as possible (English and Polish now).</li>
<li><strong>Disqussions</strong> - you can comment with teachers and other learners and be sure to get reply.</li>
<li><strong>Fun &amp; Inspiration</strong> - teachers not only give you knowledge but also inspire you for action.</li>
<li><strong>Pro Quality</strong> - produced by professional filmakers in HD resolution.</li>
</ul>
<!--
<h3>How to use it?</h3>

<h4>Sign up</h4>
<h4>Buy some OVL Credits</h4>
<h4>Unlock desired lessons</h4>
<h4>Watch and learn</h4>
<h4>See bonus materials</h4>
<h4>Disqs in comments</h4>
<h4>Take it in your pocket</h4>
<h4>Share with friends</h4>
-->
<div class="spacer inside"></div>

<h2>For Teachers</h2>

<h3>What we offer?</h3>

<p>We offer a unique chance to earn commission from every form of distribution, professional video production in our studio
and promotion in global scale to reach as many people as possible.</p>

<table>

<tr>
<td><strong>Production</strong></td>
<td><strong>Our Production</strong></td>
<td><strong>Your Production</strong></td>
</tr>

<tr>
<td>Copyrights</td>
<td>Our copyrights</td>
<td>Your copyrights</td>
</tr>

<tr>
<td>Commission <span class="star">*</span></td>
<td>20%</td>
<td>30%</td>
</tr>

<tr>
<td>Production costs <span class="star">**</span></td>
<td>All by us</td>
<td>All by you</td>
</tr>

<tr>
<td>Distribution costs</td>
<td colspan='2' style='text-align:center'>Free hosting, translations, promotion and administration.</td>
</tr>

<tr>
<td>Extras</td>
<td>Free access to all videolessons</td>
</tr>

<tr>
<td>Studio location</td>
<td>Poznań, Poland</td>
</tr>

</table>

<p>
<span class="star">*</span> We estimate at least 5000$ revenue from each lesson per year where 1000$ or 1500$ is teacher comision.<br />
<span class="star">*</span> There is comision from every form of distribution - on ovlplatform.com, DVDs and others.<br />
<span class="star">**</span> Refund in case of our production includes also all travel and acommodation costs to Poznan, Poland.
</p>

<h3>Who are we looking for?</h3>

<p>We are looking for passionate and experienced experts who want to earn by sharing their knowledge.<br />
If you have an idea for your own lessons, please <a href="">contact us by filling a form</a>.</p>

<h3>What is the process?</h3>

<p>It depends that you prefer to produce with us in our studio or do it on your own.</p>

<h3>What are the requirements?</h3>

<ul>
<li><strong>Great Content</strong> <span class="star">*</span> - content is the king, period - enlight us with your knowledge!</li>
<li><strong>Demand</strong> -  ensure us that there is huge demand for your topic.</li>
<li><strong>Passion</strong> - show us that you love what you learn and you can inspire others.</li>
<li><strong>Experience</strong> - not only theory but also practise.</li>
<li><strong>Engagement</strong> - reply to comments and help OVL to grow as a holl.</li>
</ul>

<p>
<span class="star">*</span> Duration of every lesson should be in 10-20 minutes.<br />
<span class="star">*</span> You should spend at least 10 hours to create detailed script of each lesson.<br />
<span class="star">*</span> Each lesson should have bonus materials such as embeded images, links etc.<br />
<span class="star">*</span> One teacher can do from 1 to 10 lessons - only things where he is the best.
</p>

<!--

<h2>The Team</h2>
<h2>Contact us</h2>
-->

</div>

</div>











